@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

html,
body,
button {
  margin: 0;
  padding: 0;
  font-family: "Darker Grotesque", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #F3F2EE;
  color: #000;
  scroll-behavior: smooth;
}

 /* menu css */
li,
a {
  list-style: none;
  text-decoration: none;
}

.hero{
  margin-bottom: 30px;
}

.menu-nav-bar {
  position: fixed;
  width: 100%;
  height: 60px;
  background: #F3F2EE;
  z-index: 100;
}

.menu-btn {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 80px;
  font-size: 40px;
  padding: 0.4em;
  padding-right: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 99;
  border: 1px solid transparent;
}

.menu-list-container {
  position: fixed;
  width: 25%;
  height: 100%;
  border-left: 2.7px solid #000;
  display: block;
  padding-top: 10em;
  right: -25%;
  z-index: 97;
}

ul {
   list-style: none;
 }

  /* main content container */
main {
  position: relative;
}

 /* Menu items */

.items-section ul > li a {
  display: block;
  line-height: 2.2em;
  transition: all 0.3s;
  font-size: 40px;
  font-weight: normal;
  padding-left: 20px;
  width: 100%;
  text-transform: uppercase;
  color: #000;
  border-bottom: solid 2.7px #000;
}

.items-section ul > li a:hover {
  font-family: VT323;
  font-size: 40px;
 }

 .navlist {
   border-top: solid 2px #000;
 }

/* Hero Section */
.hero {
  background: #F3F2EE;
  padding: 40px 0;
  z-index: 98;
}

/* Dividers */

.divider1
{
   display: block;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   border-style: solid;
   border-width: 1.5px;
}

.divider2
{
   display: block;
   width: 90%;
   margin-left: auto;
   margin-right: auto;
   align-items: center;
   border-style: dashed;
   border-width: 1.5px;
}


/* Intro Section */

.intro__grid {
   display: grid;
   box-sizing: border-box;
   grid-row: 100px;
 }

 .intro__content{
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 40px;
   margin-bottom: 90px;
   align-items: center;
   color: rgb(0, 0, 0);
   background-color: #F3F2EE;
}

.intro__description
{
   margin-top: 30px;
   display: block;
   font-family: "Darker Grotesque", sans-serif;
   text-align: center;
   letter-spacing: 0.5px;
   text-decoration: none;
   font-weight: 500;
   font-size: 26px;
   line-height: 35px;
   padding-right: 200px;
   padding-left: 200px;
}

/* Projector Section */


.projector-title__grid {
   display: grid;
   box-sizing: border-box;
   grid-row: 100px;
 }

 .projector-title__content{
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 40px;
   margin-bottom: 40px;
   align-items: center;
   color: rgb(0, 0, 0);
   background-color: #F3F2EE;
}

.projectortitle-img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 30%;
}

.projector-feature{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #F3F2EE;
}

.projector_grid{
   display: grid;
   columns: 100px;
   box-sizing: border-box;
   grid-template-columns: 1fr;
   column-gap: 50px;
   row-gap: 40px;
   margin-top: 30px;
   margin-left: 80px;
   margin-right: 80px;
 }

 .projector-info__grid
{ display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 30px;
   margin-bottom: 90px;
}


.projector-info-title{
  font-family: VT323;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 45px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  padding-right: 15px;
  
}

#projector-info-item,
#projector-info-price,
#projector-info-rarity,
#projector-info-ingredient
{ font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  padding-left: 15px;
}




 /*Digi Food Intro Section*/

 .dig-intro__grid {
   display: grid;
   box-sizing: border-box;
   grid-row: 100px;
 }

 .digi-intro__content{
   margin-left: 50px;
   margin-right: 50px;
   margin-top: 40px;
   margin-bottom: 80px;
   align-items: center;
   color: rgb(0, 0, 0);
   background-color: #F3F2EE;
}


.digi__title{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}

.digi__description
{
   margin-top: 30px;
   display: block;
   font-family: "Darker Grotesque", sans-serif;
   text-align: center;
   letter-spacing: 0.5px;
   text-decoration: none;
   font-weight: 500;
   font-size: 26px;
   line-height: 35px;
   padding-right: 200px;
   padding-left: 200px;
}


 /*Digi Food Products*/

 .digi-food-grid {
   display: grid;
   columns: 100px;
   box-sizing: border-box;
   grid-template-columns: 1fr 1fr;
   column-gap: 50px;
   row-gap: 40px;
   margin-top: 30px;
   margin-left: 80px;
   margin-right: 80px;
 }

 .digi_thumbnail {
   width: 100%;
   height: auto;
 }

.food-info__grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   margin-top: 30px;
   margin-bottom: 90px;
}

.food-info-title{
   font-family: VT323;
   font-weight: 900;
   font-size: 40px;
   text-transform: uppercase;
   line-height: 45px;
   border-bottom: 2px solid #000;
   padding-top: 9px;
   padding-right: 15px;
   
}

.food-info-value{
   font-weight: 400;
   font-size: 30px;
   line-height: 35px;
   border-bottom: 2px solid #000;
   padding-top: 9px;
   padding-left: 15px;
}


/* Video Section */


.video-media__grid{
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
}

.video__container{
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  background-color: #F3F2EE;
}


 /*Date and Time Section*/

 .date-time__grid {
  display: grid;
   columns: 100px;
   box-sizing: border-box;
   grid-template-columns: 1fr 1fr;
   column-gap: 50px;
   row-gap: 40px;
   margin-left: 80px;
   margin-right: 80px;
   margin-top: 60px;
   margin-bottom: 60px;
 }


 .current-time, .current-date {
  font-family: VT323;
   font-weight: 400;
   font-size: 40px;
   text-align: center;
   text-transform: uppercase;
   line-height: 45px;
 }


 /*Nice Day Section*/

 .nice-day__grid {
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
  grid-template-columns: 1fr
}
 .nice-day__container
 {
   padding-bottom: 20px;
   padding-right: 80px;
   margin-top: 70px;
   margin-left: 50px;
   margin-bottom: 50px;
}

 .niceday{
   font-family: "VT323", monospace;
   text-align: center;
   letter-spacing: 0.5px;
   text-decoration: none;
   font-weight: 300;
   font-size: 120px;
   line-height: 100px;
   text-transform: uppercase;
 }

 