@font-face {
  font-family: 'PPNeueBit';
  src: url(./Fonts/PPNeueBit-Bold.woff) format('woff'),
   url(./Fonts/PPNeueBit-Regular.woff) format('woff');
}

@viewport {
  width: device-width;
  zoom: 1;
}

html,
body,
button {
  margin: 0;
  padding: 0;
  font-family: "Darker Grotesque", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #f3f2ee;
  color: #000;
  scroll-behavior: smooth;
}

#p5-script {
  width: min(60vw, 60vh);
  height: 400px;
}

/** Slider CSS ***/
#yeardate {
  margin-top: 60px;
  width: min(60vw, 60vh);
  -webkit-appearance: none;
  appearance: none;
}

/* Track Styles for: Chrome, Safari, Opera, and Edge */
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.2rem;
  background: #000000;
  outline: none;
  cursor: pointer;
}

/* Track Styles for: Firefox */
input[type="range"]::-moz-range-track {
  background: #000000;
  height: 0.2rem;
}

/* Thumb Styles for: Chrome, Safari, Opera, and Edge */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 2rem;
  margin-top: -1rem; /* Centers thumb on the track */
  background-color: #000000;
  height: 2rem;
  width: 2rem;    
}

input[type=range]:hover::-webkit-slider-thumb {
  background: linear-gradient(303deg, rgba(156,185,252,1) 0%, rgba(196,242,229,1) 32%, rgba(204,177,252,1) 100%);
  outline: none;
  cursor: pointer;
}

/* Thumb Styles for: Firefox */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 2rem; /*Removes default border-radius that FF applies*/
  background-color: #000000;
  height: 2rem;
  width: 2rem;
}

input[type=range]:hover::-moz-range-thumb {
  background: linear-gradient(303deg, rgba(156,185,252,1) 0%, rgba(196,242,229,1) 32%, rgba(204,177,252,1) 100%);
  cursor: pointer;
}


/*canvas {
  /* width: 400px;
  height: 400px;
} */

/* menu css */
li,
a {
  list-style: none;
  text-decoration: none;
}

.hero {
  margin-bottom: 30px;
}

.menu-nav-bar {
  position: fixed;
  width: 100%;
  height: 80px;
  background: #f3f2ee;
  z-index: 100;
}

.menu-btn {
  position: fixed;
  display: block;
  top: 0;
  right: 0;
  height: 80px;
  font-size: 45px;
  padding-right: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 99;
  border: 1px solid transparent;
}


/* CSS styles for the menu icon when menu is open */
.menu-btn.open {
  /* Styles for the "X" icon here */
  content: "";
  position: fixed;
  display: block;
  top: 30px;
  right: 30px;
  height: 80px;
  padding-right: 0.8em;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 99;
  border: 1px solid transparent;
  background-color: transparent;
  width: 30px;
  height: 30px;
  color: transparent
}

/* Pseudo-element ::before for top diagonal line of "X" */
.menu-btn.open::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  transform: rotate(45deg);
}

/* Pseudo-element ::after for bottom diagonal line of "X" */
.menu-btn.open::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #000;
  transform: rotate(-45deg);
}



.menu-list-container {
  position: fixed;
  display: block;
  width: 25%;
  height: 100%;
  border-left: 2.7px solid #000;
  padding-top: 10em;
  right: -25%;
  z-index: 97;
}

ul {
  list-style: none;
}

/* main content container */
main {
  position: relative;
}

/* Menu items */

.items-section ul > li a {
  display: block;
  line-height: 1.7em;
  transition: all 0.3s;
  font-family: PPNeueBit, bold;
  font-size: 55px;
  font-weight: normal;
  padding-left: 20px;
  width: 100%;
  text-transform: uppercase;
  color: black;
  border-bottom: solid 2.7px #000;
}

.items-section ul > li a:hover {
  font-family: PPNeueBit, bold;
  font-size: 55px;
  transition: 0.5s;
  background: linear-gradient(90deg, var(--c1, #9cb9fc), var(--c2, #c4f2e5) 51%, var(--c1, #ccb1fc))
  var(--x, 0)/ 200%;
  --x: 100%; 
}

.navlist {
  border-top: solid 2px #000;
}

/* Hero Section */
.hero {
  background: #f3f2ee;
  padding: 40px 0;
  z-index: 98;
}

/* Dividers */

.divider1 {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-style: solid;
  border-width: 1.5px;
}

.divider2 {
  display: block;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  border-style: dashed;
  border-width: 1.5px;
}

/* Intro Section */

.intro__grid {
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
}

.intro__content {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 90px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #f3f2ee;
}

.intro__description {
  margin-top: 30px;
  display: block;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  padding-right: 200px;
  padding-left: 200px;
}

/* Projector Section */

.projector-title__grid {
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
}

.projector_product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projector-title__content {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #f3f2ee;
}

.projectortitle-img {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.projector-feature {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #f3f2ee;
}

.projector_grid {
  display: grid;
  columns: 100px;
  box-sizing: border-box;
  grid-template-columns: 1fr;
  column-gap: 50px;
  row-gap: 40px;
  margin-top: 30px;
  margin-left: 3vw;
  margin-right: 3vw;
}

.projector-info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 90px;
  padding-left: 200px;
  padding-right: 200px;

}

.projector-info-title {
  font-family: PPNeueBit, bold;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 45px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  padding-right: 15px;
}

#projector-info-item,
#projector-info-price,
#projector-info-year,
#projector-info-rarity {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
}

/*Digi Food Intro Section*/

.dig-intro__grid {
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
}

.digi-intro__content {
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
  margin-bottom: 80px;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: #f3f2ee;
}

.digi__title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.digi__description {
  margin-top: 30px;
  display: block;
  font-family: "Darker Grotesque", sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 26px;
  line-height: 35px;
  padding-right: 200px;
  padding-left: 200px;
}

/*Digi Food Products*/

.digi-food-grid {
  display: grid;
  columns: 100px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
  margin-top: 30px;
  margin-left: 125px;
  margin-right: 125px;
}

.digi_thumbnail {
  width: 100%;
  height: auto;
}

.food-info__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
  margin-bottom: 90px;
}

.food-info-title {
  font-family: PPNeueBit, bold;
  font-weight: 900;
  font-size: 40px;
  text-transform: uppercase;
  line-height: 45px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  padding-right: 15px;
}

.food-info-value {
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;
  border-bottom: 2px solid #000;
  padding-top: 9px;
  padding-left: 15px;
}

/* Video Section */

.video-media__grid {
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
}

.video__container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 40px;
  margin-bottom: 40px;
  align-items: center;
  background-color: #f3f2ee;
}

/*Date and Time Section*/

.date-time__grid {
  display: grid;
  columns: 100px;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  row-gap: 40px;
  margin-left: 80px;
  margin-right: 80px;
  margin-top: 60px;
  margin-bottom: 60px;
}

.current-time,
.current-date {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  line-height: 45px;
}

/*Nice Day Section*/

.nice-day__grid {
  display: grid;
  box-sizing: border-box;
  grid-row: 100px;
  grid-template-columns: 1fr;
}
.nice-day__container {
  padding-bottom: 20px;
  padding-right: 80px;
  margin-top: 70px;
  margin-left: 50px;
  margin-bottom: 50px;
}

.niceday {
  font-family: "VT323", monospace;
  text-align: center;
  letter-spacing: 0.5px;
  text-decoration: none;
  font-weight: 300;
  font-size: 120px;
  line-height: 100px;
  text-transform: uppercase;
}
